
/* new */

#line-break {
    border: black solid 1px;
    width: 90%;

}



#map {
    height: 200px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }


body {
    background-color: #F4F4F8;
}

.header {
    background-color: #FE4A49;
    height: 70px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

#logo {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 10px;
}

p {
    font-style: italic;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

span {
    color: #FED766;
    font-family: Brush Script MT;
    font-size: 50px;
}

i {
    font-family: Gill Sans;
}

.col-md-8 {
    /* border: 2px solid #e6e6ea; */
    padding: 0;
}

#submit, #love-btn, #hate-btn {
    background-color: #2AB7CA;
    border-color: 1px solid #FED766;
}

#love-btn {
    font-size: 80px;
    margin: auto;
}

#hate-btn {
    float: left;
}

#submit:hover, #love-btn:hover, #hate-btn:hover {
    background-color: #FED766;
}


#map img{
    height: 200px;
    width: 200px;
    border: 2px solid #e6e6ea;
}

#timer {
    border: 2px solid #e6e6ea;
}

.card-header {
    background-color: #FE4A49;
    color: white;
    text-align: center;
}

.choice {
    text-align: center;
    margin: auto;
}


#image-api {
    margin-bottom: 15px !important;
}

footer{
    background-color: #FE4A49;
    bottom: 0;
    width: 100%;
}


