
/* new */

#line-break {
    border: #FED766 solid 1px;
    width: 90%;
}

#about-text {
    margin: auto;
    font-style: italic;
}

#map {
    height: 400px;
}


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }


body {
    background-color: #F4F4F8;
}

.header {
    background-color: #FE4A49;
    height: 70px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

#logo {
    color: white;
    font-size: 30px;
    float: left;
    margin-left: 10px;
}

p {
    font-style: italic;
    margin-top: 33px;
    margin-right: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
}

span {
    color: #FED766;
    font-family: Brush Script MT;
    font-size: 50px;
}

i {
    font-family: Gill Sans;
}

.col-md-8 {
    /* border: 2px solid #e6e6ea; */
    padding: 0;
}

#submit, #love-btn, #hate-btn {
    background-color: #FED766;
    border-color: 1px solid #2AB7CA;
    
}

#love-btn, #hate-btn {
    font-size: 80px;
    margin: auto;
    cursor: pointer;
    display:block;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 20px;
    border-color: 3px solid #FED766;
}

#submit:hover, #love-btn:hover, #hate-btn:hover {
    background-color: #2AB7CA;
}

.card-header {
    background-color: #FE4A49;
    color: white;
    text-align: center;
}

.choice {
    text-align: center;
    margin: auto;
}


#image-api {
    margin-bottom: 15px !important;
    margin:auto;
    
}

footer{
    background-color: #FE4A49;
    bottom: 0;
    width: 100%;
}

h6{
    text-align: center;
}

#match img {
    margin-left: 25%;
}

#name-text {
    margin-bottom: 10px;
}

#price-text, #rating-text {
    margin: auto;
}

#about-me {
    margin-top: 40px;
}
